{
 ; Profile injected to Integrant.
 :backend/profile #profile {:prod :prod
                            :dev :dev
                            :test :test}

 :backend/db {:dbtype "postgres"
              :dbname #or [#env DB_NAME "simpleserver"]
              :username #or [#env DB_USERNAME "simpleserver"]
              :password #or [#env DB_PASSWORD "simpleserver"]
              :host #or [#env DB_HOST "localhost"]
              :port #long #or [#env DB_PORT 5512]
              :dataSourceProperties {:connection-timeout 3000
                                     :validation-timeout 3000
                                     :maximum-pool-size 5}}


 :backend/jetty {:port #profile {:dev #long #or [#env PORT 4265]
                                 :test #long #or [#env PORT 4266]
                                 :prod #long #or [#env PORT 4267]}
                 :join? false
                 :env #ig/ref :backend/env}

 :backend/env {:profile #ig/ref :backend/profile
               :db #ig/ref :backend/db}

 :backend/nrepl {:bind #profile {:prod "0.0.0.0"
                                 :test "localhost"
                                 :dev "localhost"}
                 :port #profile {:dev #long #or [#env PORT 4365]
                                 :test #long #or [#env PORT 4366]
                                 :prod #long #or [#env PORT 4367]}}

 }
